<table>
	<tr>
		<td>
			<div class="btn-group">
				<button type="button"
					class="btn btn-link dropdown-toggle pull-left btn-menu"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-lg fa-navicon"></i></span>
				</button>
				<ul class="dropdown-menu">
					<li><button type="button" ng-click="createEvent()" class="btn btn-link">New Event</button></li>
					<li role="separator" class="divider"></li>
					<li><button type="button" class="btn btn-link">Import Handicaps</button></li>
				</ul>
			</div>
		</td>
		<th class="title">{{header}}</th>
		<th><button type="button" ng-click="logout()" class="btn btn-link pull-right btn-logout">Logout</button></th>
	</tr>
</table>